This is cool.

<% @posts.each do |p| %>
	<%= p.description %>
	<%= link_to "Go!", p.link %>
<ul>
	<li>
	<%= render p.comments %>
	<%= render 'comments/form',
				comment: p.comments.build %>
	</li>
	<% end %>
</ul>
<%= link_to "New Post", new_post_path %>